@charset "UTF-8";

body{
    font-family: 'Hiragino Kaku Gothic Pro', 'Meiryo', 'sans-serif';
    
}

.logo img {
    width: 100%;
    height: 30vh;
    object-fit: cover;
    display: block;
}
.logo {
    text-align: center;
    margin-top: 10px;
    position: relative;
}  
.logo-txt {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    text-shadow: 0 2px 8px rgba(0, 0, 0, 0.7);
}
.logo-txt h1 {
   
    font-size: 45px ;   /* 大きさはここで調整してね */
    margin: 0;
    display: flex;
   
    
}

.logo-txt p {
    font-size: 15px;
    margin: 10px;
}
.logo-txt2{
    font-size: 18px;
    text-align: center;
     margin: 8px;
}
.container-service {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
.container-service .service {
    display: flex;
    flex-direction: column;
    align-items: center;
    width:22%;
    margin-bottom: 20px;
}
.container-service .service img {
   margin-bottom:20px;
   width:30%;
   height:30%;

}
.container-service .service .ttl {
   font-weight: bold;
   font-size:15px;
}
.container-service .service a {
   margin-bottom:20px;
   background-color: rgba(33, 224, 16, 0.533);
   padding: 15px 20px 12px;
}
.container-service .service .explain{
    font-size: 15px;
    margin-bottom:20px;

}